@media screen and (max-width: 992px) {
	#marge {
  		margin-left: 3px;
	}
}

@media screen and (min-width: 992px) {
	#marge {
  		margin-left: 253px;
	}
}

@media screen and (max-width: 992px) {
	#margeDeux {
  		margin-left: 30px;
	}
}

@media screen and (min-width: 992px) {
	#margeDeux {
  		margin-left: 280px;
	}
	#ouverture {
		display: none;
	}
}

#margeDeux {


}

.marge-menu {
	margin-top: 3.5%;
}

.dashboard {
	text-decoration: none;
	color: #a9afbbd1;
}

body {
	background-color: #1a2035;
	color: #a9afbbd1;
}

.titre {
	margin-bottom: 2%;
	margin-right: 30px;
}

#padding {

	float: right;
}

.bord-arrondi {
	border-radius: 0.2em;
}

.marge {
	margin-left: 1em;
	margin-right: 1em; 
}

.marge-top {
	padding-top: 1em;
}

.right {
	float: right;
}

#milieu {

	margin-top: 5%;
	text-align: center;
}

#couleurDuBoss {
	background-color: #202940;
}

.couleur-nav {
	background-color: #2A334A;
}