@media screen and (max-width: 992px) {
	#marge {
  		margin-left: 3px;
	}
}

@media screen and (min-width: 992px) {
	#marge {
  		margin-left: 303px;
	}
}

@media screen and (max-width: 992px) {
	#margeDeux {
  		margin-left: 30px;
	}
}

@media screen and (min-width: 992px) {
	#margeDeux {
  		margin-left: 330px;
	}
	#ouverture {
		display: none;
	}
}

body {
	background-color: #1a2035;
	color: #a9afbbd1;
}

.titre {
	margin-bottom: 5em;
}

.bord-arrondi {
	border-radius: 0.2em;
}

.marge {
	margin-left: 1em;
	margin-right: 1em; 
}

.marge-top {
	padding-top: 1em;
}

.right {
	float: right;
}

#couleurDuBoss {
	background-color: #202940;
}