@media screen and (max-width: 992px) {
	#marge {
  		margin-left: 30px;
	}
}

@media screen and (min-width: 992px) {
	#marge {
  		margin-left: 330px;
	}
}

body {
	background-color: #1a2035;
	color: #a9afbbd1;
}

.background-vert {
	background-color: green;
}

.background-gris-clair {
	background-color: #202940;
}

.titre {
	margin-bottom: 5em;
}